.main-header {
  background-color: var(--primary-color);
  padding: 20px 0;
  border-bottom: var(--secondary-color) 3px solid;
}

.header-elements {
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1300px;
}

.main-logo {
  width: 300px;
  margin-left: 10px;
  cursor: pointer;
}

/* Botão Menu Mobile */
.mobile-menu-btn {
  display: none;
  background: none;
  border: none;
  font-size: 30px;
  color: var(--text-tertiary-color); 
  cursor: pointer;
}

.mobile-menu-btn:hover {
  color: var(--secondary-color);
}

/* Navegação Desktop */
.header-menu {
  display: flex;
  gap: 70px;
}

.header-menu button {
  background: none;
  border: none;
  font-size: 20px;
  font-weight: var(--menu-text-weight);
  color: var(--tertiary-color); 
  cursor: pointer;
  margin: 0 10px;
  transition: 0.3s;
}

.header-menu button:hover {
  color: var(--secondary-color);
}

/* Responsividade */
@media (max-width: 768px) {
  .mobile-menu-btn {
    display: block;
    margin-left: 30px;
  }
  .main-logo {
    margin-right: 30px;
  }
  .header-menu {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 70px;
    left: -100%;
    width: 60%;
    height: calc(100vh - 70px);
    background-color: var(--primary-color);
    transition: 0.3s ease-in-out;
    padding-top: 50px;
    z-index: 1000;
    margin-top: 100px;
  }
  .header-menu.active {
    left: 0;
  }
}